@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

.navbar {
    height: 8vh;
    width: 100%;
    background-color: orangered;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
}

.navbar.fixed {
    position: fixed;
}

.navbar .navbar-items {
    height: 100%;
    display: flex;
    font-size: 1rem;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    font-family: 'Titillium Web', sans-serif;
}

.navbar .navbar-items .list-items {
    display: flex;
    align-items: center;
}

.navbar .navbar-items .list-items a {
    color: white;
    padding: 1.5vh 20px;
    transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
}

.navbar li a:hover {
    background-color: #c43400;
}

.navbar .ham {
    display: none !important;
    color: white;
    font-size: 25px;
    position: absolute;
    top: 2vh;
    left: 1vh;
    cursor: pointer;
    padding: 0 5px;
}