@import url('https://fonts.googleapis.com/css2?family=Newsreader&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.card {
    font-family: 'Poppins', sans-serif;
    /* border: 2px solid purple; */
    height: 33rem;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    position: relative;
}

.card img {
    height: 230px;
    margin: 10px 0 15px;
}

.card-title {
    font-family: 'Newsreader', serif;
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-weight: 800;
    height: 75px;
}

.card-desc {
    margin-bottom: 10px;
    font-size: 0.9rem;
    height: 80px;
}

.card-other-info {
    margin-bottom: 10px;
    font-size: 0.8rem;
    height: 20px;
}

.btn {
    margin: 10px 0;
    padding: 5px 15px;
    border: 1px solid black;
    width: 60%;
    color: black;
    font-size: 1rem;
    background-color: white;
    display: flex;
    transition: all .15s ease;
}

.btn:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
    color: orangered;
}