@import url('https://fonts.googleapis.com/css2?family=Newsreader&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.card {
    font-family: 'Poppins', sans-serif;
    /* border: 2px solid purple; */
    height: 33rem;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    position: relative;
}

.card img {
    height: 230px;
    margin: 10px 0 15px;
}

.card-title {
    font-family: 'Newsreader', serif;
    margin-bottom: 10px;
    font-size: 1.4em;
    font-weight: 800;
    /* height: 75px; */
}

.card-desc {
    margin-bottom: 10px;
    font-size: 0.8em;
    /* height: 80px; */
}

.card-other-info {
    margin-bottom: 10px;
    font-size: 0.82em;
    /* height: 20px; */
}

.card .source {
    color: white;
    font-size: 0.8em;
    border-radius: 18px;
    padding: 3px 4px;
    background-color: orangered;
    position: absolute;
    top: 10px;
    right: 10px;
}

.btn {
    margin: 10px 0;
    padding: 5px 15px;
    border: 1px solid black;
    width: 60%;
    color: black;
    font-size: 1em;
    background-color: white;
    display: flex;
    transition: all .15s ease;
    position: absolute;
    bottom: 10px;
}

.btn:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
    color: orangered;
}


/* RESPONSIVE DESIGN */

@media only screen and (max-width: 1570px) {
    .column {
        width: 32%;
    }

    .row {
        justify-content: space-evenly;
    }


}

@media only screen and (max-width: 1230px) {
    .column {
        width: 45%;
    }

    .row {
        justify-content: space-evenly;
    }

    h2 {
        font-size: 2em;
    }

    .btn {
        width: 50%;
    }

    .card {
        height: 35rem;
    }

}

@media only screen and (max-width: 860px) {
    .column {
        width: 100%;
    }

    .row {
        justify-content: space-evenly;
    }

    h2 {
        font-size: 1.5em;
    }

    .navbar .navbar-items {
        display: none;
    }

    .navbar .ham {
        display: block !important;
    }

    .main {
        width: 60%;
    }

    .btn {
        width: 50%;
    }

    /* HAMBURGER MENU */

    .navbar.active {
        height: 50vh;
        width: 100%;
        transition: all 0.3s ease;
    }

    .navbar .navbar-items.active {
        display: flex;
        font-size: 1rem;
        font-weight: 600;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .navbar .navbar-items .list-items .links.active {
        padding: 8px 20vw;
    }


}

@media only screen and (max-width: 547px) {
    .main {
        width: 100%;
    }

    .logo h1 {
        font-size: 2.2rem;
    }
}

@media only screen and (max-width: 299px) {
    .logo h1 {
        font-size: 1.6rem;
    }

    .card {
        height: 35rem;
    }
}